body {
	font-family: sans-serif;
}
div {
	width: 400px;
	padding: 15px;
	background-color: #EEE;
	margin: 20px auto;
}
.three {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.three:hover {
	overflow: auto;
}